<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <center>
        <h1>Show Flash Message</h1>
    </center>

    <!-- Form -->
    <form action="/" method="POST">
        <label for="userName">Name:</label>
        <input type="text" name="userName"> <br> <br>

        <button type="submit">Submit</button>
    </form>
    <center>
        <h1>Hello <%= userName %>
        </h1>
    </center>

    <% if(userName !='' ){%>
        <h1 style="color: green;">Your Form Has Been Submitted. Thany You, <%= userName %>
        </h1>
        <% } %>

</body>

</html>