<!DOCTYPE html>
<html lang="en">

<!-- Inport Header -->
<%- include('./partials/_header.ejs') %>

    <body>
        <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
            <div class="wrapper wrapper--w780">
                <div class="card card-3">
                    <div class="card-heading"></div>
                    <div class="card-body">
                        <h2 class="title">Registration Info</h2>
                        <marquee behavior="scroll" direction="">
                            <h1>404 Page Not Found</h1>
                            <h3>Return Home : <a href="/">Click Here</a></h3>
                        </marquee>
                    </div>
                </div>
            </div>
        </div>

        <!-- Inport Footer Here -->
        <%- include('./partials/_footer.ejs') %>

    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->