<!DOCTYPE html>
<html lang="en">

<!-- Inport Header -->
<%- include('./partials/_header.ejs') -%>

    <body>
        <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
            <div class="wrapper wrapper--w780">
                <div class="card card-3">
                    <div class="card-heading"></div>
                    <div class="card-body">
                        <h2 class="title">Registration Info</h2>
                        <form role="form" action="" method="POST">
                            <div class="input-group">
                                <input class="input--style-3" type="text" placeholder="Name" name="name">
                            </div>
                            <div class="input-group">
                                <input class="input--style-3" type="email" placeholder="Email" name="email">
                            </div>
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="gender">
                                        <option disabled="disabled" selected="selected">Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                            <div class="input-group">
                                <input class="input--style-3" type="password" placeholder="Password" name="password">
                            </div>
                            <div class="input-group">
                                <input class="input--style-3" type="password" placeholder=" Conform Password"
                                    name="conformPass">
                            </div>
                            <div class="p-t-10">
                                <button class="btn btn--pill btn--green" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Inport Footer Here -->
        <%- include('./partials/_footer.ejs') %>

    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->